<ion-app>
  <ion-header translucent no-border >
    <ion-searchbar></ion-searchbar >
    <ion-toolbar color="dark">
      <ion-title>Deals</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-slides class="new">

      <ion-slide>
        <ion-item *ngFor="let d of deals" color="light">
          <ion-avatar slot="start">
            <img src="../../assets/{{d.owner.picture}}">
          </ion-avatar>
          <ion-label>
            <h2><b><ion-icon name="person"></ion-icon> {{d.owner.username}}</b></h2>
            <h3><ion-icon name="cog"></ion-icon> {{d.owner.company}}</h3>
            <h3><ion-icon name="filing"></ion-icon> {{d.title}}</h3>
          </ion-label>
          <ion-label>
            &nbsp;
          </ion-label>
          <ion-label>
            <ion-button shape="round" fill="solid" (click)="openDeal(d)">
              <ion-icon name="information-circle"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <h2>
          <ion-icon name="add-circle"></ion-icon>
          <b>Post New deal</b>
        </h2>
        <form [formGroup]="newDealForm" (ngSubmit)="newDeal()">
 
          <ion-item color="transparent">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="email" formControlName="title"></ion-input>
          </ion-item>
       
          <ion-item color="transparent">
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>

          <ion-item color="transparent">
            <ion-label position="floating">Size</ion-label>
            <ion-select formControlName="size">
              <ion-select-option value="small">Big</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="small" selected>Small</ion-select-option>
            </ion-select>
          </ion-item >
          
          <ion-item color="transparent">
            <ion-label position="floating">Kind</ion-label>
            <ion-select formControlName="kind">
              <ion-select-option value="manufacturing ">Manufacturing </ion-select-option>
              <ion-select-option value="construction ">Construction </ion-select-option>
              <ion-select-option value="research">Research </ion-select-option>
              <ion-select-option value="management" selected>Management </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item color="transparent">
            <ion-label position="floating">Starting Date</ion-label>
            <ion-input type="date" formControlName="start"></ion-input>
          </ion-item>


          <ion-item color="transparent">
            <ion-label position="floating">Deadline</ion-label>
            <ion-input type="date" formControlName="deadline"></ion-input>
          </ion-item>
          <!-- <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button> -->
          <!-- <ion-button expand="full" type="button" href="/projects" >Register</ion-button> -->
          <ion-button shape="round" fill="solid" type="submit" [disabled]="!newDealForm.valid">
            <ion-icon name="add-circle"></ion-icon>
             Add
          </ion-button>
        </form>
        <p>&nbsp;</p>
      </ion-slide>

    </ion-slides>
    </ion-content>
</ion-app>