<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{project.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <img src="../../../assets/bridge.png" />
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="alarm"></ion-icon>Since {{project.createdAt |date: 'short' }}</ion-card-subtitle>
      <ion-card-title>{{project.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{project.description}}
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-toolbar color="tertiary">
        <ion-title>Cards</ion-title>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let t of taskgroups">
        <ion-card color="light" >
          <img src="../../../assets/bridge.png" (click)="carDetails(t)"/>
          <ion-card-header (click)="carDetails(t)">
            <ion-card-subtitle class="ion-text-center" style="margin: 0; display: block; overflow: scroll; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: inherit; white-space: nowrap;">
              {{ t.title }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-badge color="warning" slot="end" (click)="onUpdateCard(t)">
              <ion-icon name="create"></ion-icon>
            </ion-badge>
            <ion-badge color="danger" slot="end" (click)="onDeleteCard(t)">
              <ion-icon name="close"></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="secondary" (click)="addCard(t)">
          <img src="../../../assets/plus.png"  />
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Add</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            &nbsp;&nbsp;
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
