<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{card.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-col size="4" *ngFor="let t of tasks">
    <ion-card color="light" (click)="carDetails(t)">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{ t.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col> -->

  <ion-list>
    <ion-list-header>
      Tasks List
    </ion-list-header>
    <ion-card *ngFor="let t of tasks">
      <!-- <ion-badge color="primary" style="margin-right: 20px;" text-right (press)="pressEvent($event)">New {{press}}</ion-badge> -->
      <ion-header>
        <ion-toolbar color="medium">
          <ion-buttons slot="end">
            <ion-button (click)="presentActionSheet()">
              <ion-icon name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>
            {{t.title}}
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-item color="light">
        <ion-avatar slot="start" style="margin-right: -10px;" *ngIf="t.owner">
          <img src="../../../../assets/{{t.owner.picture}}" style="border: 2px solid dodgerblue;">
        </ion-avatar>
        <ion-label style="margin-left: 10px;">
          <h3 class="ion-text-capitalize">
            <ion-badge color="primary" >{{t.owner.username}}</ion-badge>&nbsp;
            <ion-badge color="success" >{{t.status}}</ion-badge>&nbsp;
            <ion-badge color="danger"><small>{{calculateDif(t)}}</small></ion-badge>
          </h3>
        </ion-label>
      </ion-item>
      <ion-card-content class="contentstyle">
        <p class="pstyle">{{t.description}}</p>
      </ion-card-content>
      <ion-progress-bar value="{{t.progress}}" *ngIf="t.priority=='red'" color="danger"></ion-progress-bar>
      <ion-progress-bar value="{{t.progress}}" *ngIf="t.priority=='green'" color="success"></ion-progress-bar>
      <ion-progress-bar value="{{t.progress}}" *ngIf="t.priority=='orange'" color="warning"></ion-progress-bar>
    </ion-card>
  </ion-list>
</ion-content>