.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message{
    background-image: linear-gradient(#879af2, #879af2);
    color: #fff;
}

.my-message{
    background-image: linear-gradient(#41e975, #41e975);
    color: #fff;
}

.time{
    color: #fff;
    float: right;
    font-size: small;
}

.message-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.msg-btn{
    --padding-start: 0.5em; 
    --padding-end: 0.5em; 
}

ion-content{
    --background: none;
    background-image: url(../../assets/chat.jpg);
}

.footer{
    --background: none;
    background-image: url(../../assets/chat.jpg);
}

textarea{
    outline: none;
}

