<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="addMeeting($event)" [formGroup]="newMeeting">
  <ion-toolbar color="primary">
    <ion-item>
      <ion-input formControlName="title" type="text" placeholder="New meeting" class="input" autofocus="true">
      </ion-input>
      <ion-input formControlName="date" type="date" placeholder="New meeting">
      </ion-input> 
    </ion-item>
  </ion-toolbar>
  <ion-toolbar >
    <ion-item>
     <ion-grid>
       <ion-row>
        <ion-col size="10">
          <ion-select multiple="true" formControlName="members" value="members" okText="Okay" cancelText="Dismiss" *ngFor="let m of memebers">
            <ion-select-option value="{{m._id}}">{{m.username}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="2">
          <ion-avatar style="margin-right: -10px;" >
            <ion-button color="primary" size="small" type="submit" [disabled]="!newMeeting.valid">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-avatar>
        </ion-col>
       </ion-row>
     </ion-grid>
    </ion-item>
  </ion-toolbar>
</form>

<ion-list>
  <ion-item *ngFor="let m of meetings">
    <ion-label><small><small>{{m.date | date: 'short' }}</small></small> |{{m.title}}</ion-label>
    <ion-note slot="end" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-note>
  </ion-item>
</ion-list>
</ion-content>